:root {
  --light: #fff;
  --cell-size: 140px;
  --grid-gap: 10px;
  --primary-color: #100f0f;
  --secondary-color: #1c1c1ba8;
  --border-color: #45454575;
  --theme-color: #c2940a;
  --success-color: #4bb5432e; 
  --success-border-color: #4bb5433d;
  --success-light: #23f413;
  --main-bg: var(--primary-color);
  --warning: #f443361c;
  --icon-color: var(--light);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-bg);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
